<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testerkit.uia2" android:versionCode="1" android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!--不起作用，不会被使用-->
    <!--<instrumentation-->
        <!---->
        <!--android:label="UIA2"-->
        <!--android:name="android.support.test.runner.AndroidJUnitRunner"-->
        <!--android:targetPackage="com.testerkit.uia2.server"-->
        <!--android:functionalTest="false"-->
        <!--android:handleProfiling="false"/>-->

    <application android:debuggable="true" android:label="UIA2 Server">
    </application>
    <!--<meta-data android:name="aaa" android:value="${suffix}" />-->

</manifest>