<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testerkit.uia2" android:versionCode="1" android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_CLIPBOARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-sdk android:minSdkVersion="18" />

    <!--不起作用，不会被使用-->
    <instrumentation

        android:label="UIA2 Server"
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.testerkit"
        android:functionalTest="false"
        android:handleProfiling="false"/>

    <application android:debuggable="true" android:label="UIA2 Server">
        <uses-library
            android:name="android.test.runner" />
    </application>
    <!--<meta-data android:name="aaa" android:value="${suffix}" />-->

</manifest>